server:
  port: 8083
  servlet:
    context-path: /api/v1
spring:
  h2:
    console:
      enabled: true
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    drive-class-name: org.h2.Driver
    initialization-mode: always
  jpa:
    hibernate:
      ddl-auto: create
    format_sql: true
    show_sql: true
    genetate-ddl: false
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true